server/node_modules/
server/.env
server/.idea/

android_app/*.iml
android_app/*/*.iml
android_app/.gradle
android_app/local.properties
android_app/.idea/libraries
android_app/.idea/modules.xml
android_app/.idea/workspace.xml
android_app.DS_Store
android_app/build
android_app/captures
android_app/.externalNativeBuild
